.levelContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10vh;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 20px;
}

.level{
    width: 10vh;
    height: 10vh;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.2s;
}

/* 
@media screen and (min-width: 769px) {
    .levelContainer{
        width: 400px;
    }
} */